.header{
    max-height: 50%;
    max-width: auto;
}

body {
    background-color: #3C4A57;
  }

.nav {
    overflow: hidden;
    background-color: #58B8E8;
    opacity: 0.6;
    margin-bottom: 10px;
}

/* Style the topnav links */
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.nav a:hover {
    background-color: #ff8800;
    color: #ffffff;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #3C4A57;
    margin-top: 50px;
    color: azure;
    font-size: 0.5vw;
    text-align: right;
}

.intro{
    margin-top: 40px;
    margin-bottom: 40px;
    color: azure;
    text-align: center;
    font-size: 1vw;
    padding: 10px;
}

.intro h1{
    font-size:3.5vw;
    text-shadow: 2px 2px 5px #ff8800;
}


.Founders{
    margin-bottom: 200px;
    color: azure;
    text-align: center;
    font-size: 1vw;
    padding: 10px;
}

.Founders h1{
    font-size:3.5vw;
    text-shadow: 2px 2px 5px #ff8800;
}
